* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

:root {
    --blur: 1.4px;
}

.grid-container {
    display: grid;
    background-image: url('animebg.png');
    background-position: bottom right;
    background-size: cover;
    border: 20px solid rgba(18, 0, 0, 0.985);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;    
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 3;
}

.mold {
    z-index: 2;
}

.mold1 {
    border-right: 5px solid rgba(28, 10, 0, 0.985);
    border-bottom: 5px solid rgba(28, 10, 0, 0.985);
}
.mold2 {
    border-left: 5px solid rgba(28, 10, 0, 0.985);
    border-bottom: 5px solid rgba(28, 10, 0, 0.985);
}
.mold3 {
    border-right: 5px solid rgba(28, 10, 0, 0.985);
    border-top: 5px solid rgba(28, 10, 0, 0.985);
}
.mold4 {
    border-left: 5px solid rgba(28, 10, 0, 0.985);
    border-top: 5px solid rgba(28, 10, 0, 0.985);
}

.boxs {
    z-index: 1;
    width: 100%;
    height: 200px;
    background-image: url('rain.gif');
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
}